
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    font-size: 16px;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}
.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card {
    margin: 20px 0;
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 0px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.849);
    
}

.cards img {
    width: 150px;
    height:200px;
    object-fit: cover;

}